<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Template Inheritance{% endblock %}</title>

<style>
    nav{
        background-color: #333;
        color: white;
        padding: 10px;
        justify-content: center;
        display: flex;
    }
    footer{
        background-color: #333;
        color: white;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
</head>
<body>
    <nav>
        <a href="/"><span>Home</span></a>
        <a href="/about"><span>About</span></a>
        <a href="/contact"><span>Contact</span></a>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>This is footer</footer>
</body>
</html>