<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class - X Delhi Public School</title>
</head>
<body>
    <ul>
        <li>The marks of John is {{marks['John']}}</li>
        <li>The marks of Alice is {{marks['Alice']}}</li>
        <li>The marks of Bob is {{marks['Bob']}}</li>
        <li>The marks of Eve is {{marks['Eve']}}</li>
        <li>The marks of Charlie is {{marks['Charlie']}}</li>
        <li>The marks of David is {{marks['David']}}</li>
        <!-- {% for student, mark in marks.items() %}
            <li>The marks of {{student}} is {{mark}}</li>
        {% endfor %} -->
    </ul>
    
</body>
</html>